<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs')  %>
<body>
    <h1>Home</h1>
    <h2>Your Path to the node power ranger.</h2>
    <%- include('./partials/nav.ejs')  %>
    <div class="about content">
        <h2>About us</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore, saepe! Voluptates quos placeat, corporis natus quae odio, itaque asperiores illum sapiente aut in laudantium veritatis repellendus tempora, modi minus hic.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore, saepe! Voluptates quos placeat, corporis natus quae odio, itaque asperiores illum sapiente aut in laudantium veritatis repellendus tempora, modi minus hic.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore, saepe! Voluptates quos placeat, corporis natus quae odio, itaque asperiores illum sapiente aut in laudantium veritatis repellendus tempora, modi minus hic.</p>
    </div>
    <%- include('./partials/footer.ejs')  %>
</body>
</html>